---
import Image from "astro/components/Image.astro";
import { Img } from "astro-imagetools/components";
---

<section>
  <div
    class="mx-auto w-full lg:px-20 max-w-7xl md:px-12 items-center px-8 py-10 scroll-mt-12"
  >
    <div
      class="grid grid-cols-1 gap-4 sm:mt-6 items-center list-none lg:grid-cols-2 lg:gap-24"
    >
      <div class="text-center lg:text-left">
        <div>
          <p
            class="text-3xl sm:text-4xl tracking-tight font-medium md:text-5xl font-display"
          >
            O Que Nos Impulsiona
          </p>
          <p class="text-base mt-4 text-gray-500">
            Desde nosso primeiro projeto, temos dedicado energias em transformar
            a presença de nossos clientes na internet. <br />
            <br />
            Nosso compromisso é com a inovação. Somos apaixonados. Buscamos sempre
            trazer tecnologicas mais performaticas, designs mais inovadores, a melhora
            dos resultados, aumentar o valor reconhecido da sua empresa, melhorar
            a experiência em seu site, otimizar o seu projeto e muito mais.
          </p>
          <div class="flex gap-3 mt-10 flex-col sm:flex-row">
            <a
              class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-blue focus:outline-none inline-flex bg-blue border-2 border-blue duration-200 focus-visible:ring-blue hover:bg-transparent hover:border-blue hover:text-blue lg:w-auto px-6 py-3 text-center text-white w-full"
              href="https://wa.me/5584991651954"
              >Entre em Contato &nbsp; &rarr;
            </a>
            <a
              class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-blue focus:outline-none inline-flex duration-200 text-blue lg:w-auto px-6 py-3 text-center text-blue/80 w-full underline underline-offset-2 hover:bg-accent-50"
              href="/about">Conheça</a
            >
          </div>
        </div>
      </div>
      <div
        class="lg:mt-0 mt-12 h-full block rounded-3xl overflow-hidden border"
      >
        <div class="rounded-2xl h-full">
          <Img
            alt="Mockup usando os sites da RevendCell e da Emanoele Fonseca"
            src="/cases/projects-image.jpeg"
            layout="fill"
            format="webp"
            quality={100}
            placeholder="blurred"
            attributes={{
              link: {
                class:
                  "border lg:rounded-3xl object-cover h-full rounded shadow-2xl",
              },
            }}
          />
        </div>
      </div>
    </div>
    <!-- <div class="mt-24 w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10"
          >
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-blue font-display lg:mt-0"
          >
            Developer experience
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          Everything I build is keyboard accessible, and I meticulously write
          the markup to deliver the best screenreader experience.
        </p>
      </div><div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10"
          >
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-blue font-display lg:mt-0"
          >
            Designers go-to app
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          I tested the template in the latest versions of all browsers to handle
          lots of edge-cases you might encounter.
        </p>
      </div><div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10"
          >
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-blue font-display lg:mt-0"
          >
            Easy onboarding
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          The template is ready for production and can be deployed anywhere
          static websites can, such as Vercel, Netlify, or GitHub Pages,..
        </p>
      </div>
    </div> -->
  </div>
</section>
