<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div
      class="grid grid-cols-1 gap-4 mt-6 items-center list-none lg:grid-cols-2 lg:gap-24"
    >
      <div class="text-center lg:text-left">
        <div>
          <p
            class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"
          >
            O Que Nos Impulsiona
          </p>
          <p class="text-base mt-4 text-gray-500">
            Desde nosso primeiro projeto, nossa agência tem sido pioneira em
            entregar soluções digitais que transformam negócios. <br />
            Nosso compromisso é com a ciência. Somos apaixonados. Buscamos sempre
            trazer inovações tecnologicas e melhorar os resultados por meio de técnicas
            de persuasão para gerar ótimos resultados no seu público.
          </p>
          <div class="flex gap-3 mt-10 flex-col sm:flex-row">
            <a
              class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black lg:w-auto px-6 py-3 text-center text-white w-full"
              href="https://wa.me/5584991651954"
              >Entre em Contato &nbsp; &rarr;
            </a>
            <a
              class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex duration-200 text-black lg:w-auto px-6 py-3 text-center text-black/80 w-full underline underline-offset-2 hover:bg-accent-50"
              href="#services">Saiba Mais</a
            >
          </div>
        </div>
      </div>
      <div
        class="lg:mt-0 mt-12 h-full hidden lg:block rounded-3xl overflow-hidden border"
      >
        <div class="bg-gray-100 p-8 rounded-2xl overflow-hidden">
          <img
            alt="Lexingtøn thumbnail"
            class="border lg:rounded-3xl object-cover rounded shadow-2xl"
            src="https://brightlight.lexingtonthemes.com/assets/dashboard.svg"
          />
        </div>
      </div>
    </div>
    <!-- <div class="mt-24 w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10"
          >
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0"
          >
            Developer experience
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          Everything I build is keyboard accessible, and I meticulously write
          the markup to deliver the best screenreader experience.
        </p>
      </div><div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10"
          >
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0"
          >
            Designers go-to app
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          I tested the template in the latest versions of all browsers to handle
          lots of edge-cases you might encounter.
        </p>
      </div><div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10"
          >
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0"
          >
            Easy onboarding
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          The template is ready for production and can be deployed anywhere
          static websites can, such as Vercel, Netlify, or GitHub Pages,..
        </p>
      </div>
    </div> -->
  </div>
</section>
