<section id="services">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="mx-auto max-w-2xl text-center">
      <div>
        <p
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"
        >
          Soluções Digitais Completas para Transformar Seu Negócio
        </p><p
          class="mt-4 text-lg text-na mx-auto tracking-tight text-gray-500"
        >
          Descubra como nossas soluções digitais podem levar seu negócio ao
          próximo nível.
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Serviços.</h2><div>
          <div
            class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3"
          >
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="html5"
                    class="hydrated md h-4 w-4"
                    name="logo-html5"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Landing Pages
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Criamos landing pages otimizadas para conversão, focadas em
                captar leads e aumentar vendas.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="cart"
                    class="hydrated md h-4 w-4"
                    name="cart"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  E-commerce
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Projetamos e desenvolvemos lojas virtuais robustas e escaláveis,
                prontas para crescer com seu negócio.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="easel"
                    class="hydrated md h-4 w-4"
                    name="easel"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Sites Institucionais
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Criamos sites institucionais que refletem a identidade e os
                valores da sua empresa, proporcionando uma presença digital
                forte.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="cog"
                    class="hydrated md h-4 w-4"
                    name="cog"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Manutenção de Sites
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Oferecemos serviços completos de manutenção para garantir que
                seu site esteja sempre atualizado e seguro.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="brush"
                    class="hydrated md h-4 w-4"
                    name="brush"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Design UX/UI
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Desenvolvemos experiências de usuário excepcionais com designs
                intuitivos e atraentes.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="flash"
                    class="hydrated md h-4 w-4"
                    name="flash"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Otimização de Velocidade
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Melhoramos a performance do seu site, garantindo tempos de
                carregamento rápidos e melhorando a experiência e a taxa de
                rejeição do usuário.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
