---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../layouts/BlogPost.astro';
import Heading from '../../layouts/Heading.astro';

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../posts/*.md');

  const uniqueCategorys = [...new Set(allPosts.map((post) => post.frontmatter.category).flat())];

  return uniqueCategorys.map((category) => {
    const filteredPosts = allPosts.filter((post) => post.frontmatter.category.includes(category));
    return {
      params: { category },
      props: { posts: filteredPosts },
    };
  });
}

const { posts } = Astro.props;
const { category } = Astro.params;
---

<BaseLayout pageTitle={ category }>
  <Heading headline={ category } subheadline=`Postagens com a categoria '${ category }'`/>
  <section class="mx-auto w-full max-w-7xl px-8 md:px-12 lg:px-24">
    <div class="pt-10 pb-20">
      <ul class="grid sm:grid-cols-2 md:grid-cols-3 gap-4">
        {posts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} imageurl={post.frontmatter.image.url} imagealt={post.frontmatter.image.alt}/>)}
      </ul>
    </div>
  </section>
  
</BaseLayout>