---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Heading from "../../layouts/Heading.astro";

const allPosts = await Astro.glob("../posts/*.md");

const categories = [
    ...new Set(allPosts.map((post) => post.frontmatter.category).flat()),
];
---

<BaseLayout pagetitle="Categories | Hexlab">
    <Heading
        headline="Categorias"
        subheadline="Filtre nossos assuntos pelo que mais lhe interessa!"
    />
    <section class="max-w-7xl w-full mx-auto px-8 md:px-12 lg:px-24 pt-10 pb-20">
        <nav>
            <ul class="flex gap-1 gap-y-5 sm:gap-2 sm:gap-y-4 flex-wrap">
                {
                    categories.map((category) => (
                        <li>
                            <a
                                class="px-4 py-2 rounded-full border border-solid border-blue border-opacity-40 hover:bg-blue hover:text-white transition-colors duration-150 hover:drop-shadow-md"
                                href={`/category/${category}`}
                            >
                                {category}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </section>
</BaseLayout>
