---
import Question from "../assets/Question.astro";
---

<section class="bg-accent-50 *:text-black">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-12">
      <div class="text-center lg:text-left">
        <div>
          <p
            class="text-3xl font-normal tracking-tight font-display"
          >
            Perguntas frequentes
          </p>
          <p class="text-base mt-4 opacity-80">
            Caso ainda reste dúvidas sobre nós.
          </p>
        </div>
      </div>

      <div
        x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id }}"
        class="relative w-full mx-auto font-normal lg:col-span-2"
      >
        <Question
          question="Por quê contar com a Hexlab?"
          answer="A Hexlab atua com desenvolvedores experiêntes e atenciosos, com gestores cuidadosos, com designers criativos e com UX's altamente habilidosos. Estamos prontos para atender qualquer demanda que possa aparecer e elevar a sua empresa para outro patamar!"
        />
        <Question
          question="Por quê contar com a Hexlab?"
          answer="A Hexlab atua com desenvolvedores experiêntes e atenciosos, com gestores cuidadosos, com designers criativos e com UX's altamente habilidosos. Estamos prontos para atender qualquer demanda que possa aparecer e elevar a sua empresa para outro patamar!"
        />
        <Question
          question="Por quê contar com a Hexlab?"
          answer="A Hexlab atua com desenvolvedores experiêntes e atenciosos, com gestores cuidadosos, com designers criativos e com UX's altamente habilidosos. Estamos prontos para atender qualquer demanda que possa aparecer e elevar a sua empresa para outro patamar!"
        />
      </div>
    </div>
  </div>
</section>
