---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../layouts/BlogPost.astro";
import Heading from "../layouts/Heading.astro";

const allPosts = await Astro.glob("./blog/*.md");
---

<BaseLayout title="Blog | Hexlab">
  <Heading
    headline="Blog"
    subheadline="Fique por dentro dos nossos conteúdos!"
  />

  <section class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 px-8">
    <div
      class="grid sm:grid-cols-2 md:grid-cols-3 grid-flow-row gap-4 pb-20 pt-10"
    >
      {
        allPosts.map((post) => (
          <BlogPost
            title={post.frontmatter.title}
            url={post.url}
            imageurl={post.frontmatter.image.url}
            imagealt={post.frontmatter.image.alt}
          />
        ))
      }
    </div>
  </section>
</BaseLayout>
