---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../layouts/BlogPost.astro";
import Heading from "../layouts/Heading.astro";
import Section from "../layouts/Section.astro";
import { getAllPosts } from "../lib/cosmic";

const allPosts = await getAllPosts();
---

<BaseLayout title="Blog | Hexlab">
  <Heading
    headline="Blog"
    subheadline="Fique por dentro dos nossos conteúdos!"
  />

  <Section>
    <div
      class="grid sm:grid-cols-2 md:grid-cols-3 grid-flow-row gap-4 pb-20 pt-10"
    >
      {
        allPosts.map((post) => (
          <BlogPost
            title={ post.title }
            url={ `/blog/${post.slug}` }
            imageurl={ `${post.metadata.cover_image.imgix_url}?w=500&auto=format,compression` }
            imagealt={ post.title }
          />
        ))
      }
    </div>
  </Section>
</BaseLayout>
