---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/global/Header.astro";
import Footer from "../components/global/Footer.astro";

import { slide } from "astro:transitions";

const { title } = Astro.props;
---

<html
  lang="pt-br"
  class="lenis selection:bg-accent-500 selection:text-white no-touchevents hydrated"
>
  <head>
    <BaseHead />
    <title>{ title }</title>
  </head>
  <body class="bg-white flex flex-col min-h-dvh">
    <Header />
    <main class="grow pt-10" transition:animate={slide({ duration: '0.4s' })}><slot /></main>
    <Footer />

    <script>
      import '../components/assets/scripts/lenisSmoothScroll';
    </script>    

  </body>
</html>
