---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/global/Header.astro";
import Footer from "../components/global/Footer.astro";
import Image from "astro/components/Image.astro";
import { slide } from "astro:transitions";

const { frontmatter } = Astro.props;
---

<html
  lang="pt-br"
  class="lenis selection:bg-accent-500 selection:text-white no-touchevents hydrated"
>
  <head>
    <BaseHead/>
    <title>{ frontmatter.title } | Hexlab</title>
  </head>
  <body class="flex flex-col min-h-dvh">
    <Header />

    <main
      class="grow mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 pb-10" transition:animate={slide({ duration: '0.4s' })}
    >
      <article class="pt-10 pb-16 md:pt-20 md:pb-24">
        <h1
          class="text-[8dvw] tracking-tight font-medium text-black md:text-5xl font-display"
        >
          {frontmatter.title}
        </h1>
        <p class="text-[4dvw] md:text-sm">
          {frontmatter.pubDate.toString().slice(0,10).split('-').reverse().join('/')}
          <slot />
        </p>

        <Image
          inferSize
          src={frontmatter.image.url}
          alt={frontmatter.image.alt}
          class="w-full mx-auto rounded-lg my-4 "
          loading="eager"
        />

        <p class="text-sm">
          <slot />
        </p>
      </article>
    </main>

    <Footer />

    <script>
      import "../components/assets/scripts/lenisSmoothScroll";
    </script>
  </body>
</html>
