---
// import Image from "astro/components/Image.astro"

import { Img } from "astro-imagetools/components";
---

<section class="bg-zinc-50">
  <div class="relative 2xl:max-w-7xl mx-auto">

    <div class="lg:absolute lg:inset-0 lg:left-1/2 overflow-hidden">
      <Img
      placeholder="blurred" class="object-cover w-full sm:h-80 lg:absolute lg:h-full" src="https://windstatic.com/images/bundle.png" alt="Imagem da sessão de Portfólio" width="5311" height="5590">
    </div>
    <div class="pt-10 pb-24 sm:pb-16 sm:pt-10 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2">
      <div class="lg:px-24 md:pl-12 px-8 py-8">
        <div class="max-w-lg mx-auto lg:mx-0 lg:pr-12">
          <p class="text-3xl font-black tracking-tight text-black uppercase font-display">
            Conheça nossos serviços
          </p>
          <p class="max-w-2xl mt-4 text-base font-medium tracking-tight text-black">
            Com experiência de vários anos atuando com desenvolvimento e design, buscamos entregar o máximo em qualquer projeto que fazemos.
          </p>
          <p class="mt-8 text-2xl tracking-tight text-black fon4t-medium font-display lg:pl-4 lg:border-l-4 border-accent-600">
            Estamos com <span class="text-accent-600"> 20% OFF</span>
            nos nossos serviços de
            <span class="opacity-80">Landing Pages, Sites Institucionais e Design!</span>
          </p>
          <p class="max-w-2xl mt-8 text-base font-medium tracking-tight text-black">
           Aproveite essa oportunidade imperdível de entrar no digital com o que há de mais novo e eficiente na internet, proporcionando uma experiência inesquecível para o seu cliente.
          </p>

          <div class="mt-12 max-sm:space-y-4 sm:flex gap-4 lg:whitespace-nowrap">
            <a href="https://wa.me/5584991651954" class="inline-flex items-center justify-center w-full h-12 gap-4 px-6 py-3 text-sm font-medium text-white transition rounded-xl bg-blue group active:text-blue active:transition-none outline-offset-1 hover:bg-white hover:text-blue lg:w-auto">Solicitar Serviço <span>→</span>
            </a>
            <a
            class="items-center justify-center h-12 text-sm font-medium rounded-xl focus-visible:outline-blue focus:outline-none inline-flex duration-200 text-blue lg:w-auto px-6 py-3 text-center w-full hover:text-white hover:bg-blue underline underline-offset-2"
            href="/portfolio">Confira nosso portfolio</a
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
